<h1><%= "Say hello to #{@dog.name}" %></h1>

<h3><%= @dog.description %></h3>
<h3>£<%= @dog.price %></h3>
<h3>This dog is a <%= @dog.breed %></h3>
<h3>This dog is <%= @dog.age %> years old</h3>
<h3><%= @dog.size %> sized</h3>
