<div class="show-page" data-controller="toggle">
  <div class="dog-cards">
    <!-- Photo Section -->
    <div class="photo-section">
      <%= image_tag @dog.photo, alt: "dog photo", class: "dog-photos" %>
    </div>

    <!-- Information Section -->
    <div class="info-section">
      <p><strong>Name: </strong><%= @dog.name %></p>
      <p><strong>Age: </strong><%= @dog.age %></p>
      <p><strong>Size: </strong><%= @dog.size %></p>
      <p><strong>Description: </strong><%= @dog.description %></p>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center btn-holder">
    <div>
      <%= link_to dogs_path, class: "back-link" do %>
        <div class="back-icon">
          <div class="line"></div>
          <div class="triangle"></div>
        </div>
      <% end %>
    </div>
    <div>
      <div class="badge">
        <button class="btn checkmark" data-bs-toggle="modal" data-bs-target="#bookingModal">✔</button>
      </div>
      <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <%= render "bookingform", booking: @booking, dog: @dog%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
