
<!-- Welcome message to user -->
<div class="whole-page-profile">
  <div class="container" data-controller="insert-in-list">
    <div class="dog-heading">
      <h1 class="profile-main-text"><%= "Hi #{@user.first_name}" %></h1>
      <% if @user.dogs.any? %>
        <h3 class="profile-main-text"><%= "Here are your dogs listed for hire:" %></h3>
      <% else %>
        <h3 class="profile-main-text"><%= "You currently have no dogs listed for hire." %></h3>
      <% end %>
    </div>

    <!-- Dogs currently listed for hire -->
    <div class="dog-cards dog-card-container" data-insert-in-list-target="items">
      <% @user.dogs.each do |dog| %>
        <%= render "dogs/dog", dog: dog %>
      <% end %>
    </div>

    <!-- Add a new dog -->
    <div data-controller="toggle" class="add-dog-button mb-3 mt-4">
      <button data-action="click->toggle#fire" class="add-dog-btn w-100 rounded-pill"><i class="fa-solid fa-plus"></i></button>
      <div data-toggle-target="togglableElement" class="d-none" id="dogs" >
        <%= render "dogs/form", dog: @dog %>
      </div>
    </div>

    <!-- Bookings welcome message -->
    <div class="booking-heading">
      <% if @user.bookings.any? %>
        <h3 class="profile-main-text"><%= "Here are your current bookings:" %></h3>
      <% else %>
        <h3 class="profile-main-text"><%= "You currently have no bookings." %></h3>
      <% end %>
    </div>

  <!-- User's current bookings -->
    <div class="booking-cards">
      <ul class="list-group mb-3">
        <% @user.bookings.each do |booking| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="d-flex flex-column">
              <strong><%= "#{booking.dog.name}:" %></strong>
              <span class="booking-dates"><%= "#{booking.start_date} - #{booking.end_date}" %>
            </span>
          </div>
          <%= link_to booking_path(booking),
            class: "btn btn-sm",
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash-can fa-xl delete-profile-icons"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
