<div class="body">

<!-- Doggie carousel section -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
          <div class="carousel-item active">
        <%= image_tag "landing/dog_1.jpg", alt: "Dog 1", class: "d-block w-100"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "landing/dog_2.jpeg", alt: "Dog 2", class: "d-block w-100"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "landing/dog_3.jpg", alt: "Dog 3", class: "d-block w-100"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "landing/dog_4.jpg", alt: "Dog 4", class: "d-block w-100"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "landing/dog_5.jpg", alt: "Dog 5", class: "d-block w-100"%>
      </div>
    </div>
  </div>


<!-- The text container underneath the doggies -->
  <div class="container">

      <div class="image-section">
      </div>
      <div class="content">
          <h2>Welcome to <span class="brand">Rent-a-Paw!</span></h2>
          <p>We work with animal shelters around the country to provide you with the perfect furry companion!</p>
          <p>Whether you are traveling and missing your dogs, in need of some puppy love, or just want to spend a day with a furry friend, we're here to help.</p>
      </div>

      <!-- Old nav JM bar, now redundant
          <div class="footer">
          <button class="add-button">Add</button>
          <button class="rent-button">Rent</button>
      </div> -->

  </div>

    </div>
  </nav>
</div>
</div>
